

/*_____common________________________________________*/

html, body, #container{
	height:100%;
}
html{
	background:#d4e3ee url(../images/gradient.jpg) repeat-x;
	font:12px Trebuchet MS, Arial, Tahoma, Verdana, sans-serif;
	color:#4f7276;
	overflow:auto;
}
body{
	margin:0;
}
#container{
	width:1000px;
	margin:0 auto;
}
#main{
	/* min-height:100%; */
	margin:0 0 -125px;
}
#all{
	overflow:hidden;
	padding:0 0 128px;
	position:relative;
}

/*____footer________________________________*/

#footer{
	font:0.8em Trebuchet MS;
	text-align:center;
	color:#a5ccca;
	overflow:hidden;
	padding:39px;
	min-width:100%;
	min-height:125px;
}

/*____logo________________________________*/

#logo{
	position:absolute;
	height:410px;
	width:300px;
	background:url(../images/house.png);
	background-position:0 105px;
	background-repeat:no-repeat;
}
#button1{
	position:absolute;
	left:33px;
	top:90px;
	height:29px;
	width:29px;
}
#business{
	position:absolute;
	top:87px;
	left:75px;
	font:0.9em Trebuchet MS;
	text-align:left;
	color:#8bc5d9;
}
#business span{
	font:1.8em Trebuchet MS;
	color:#fff;
}
#business span+span{color:#8bc5d9 !important;}

/*_____header__________________________*/

#header{
	float:right;
	width:700px;
	height:194px;
	background:url(../images/fon2.png);
	background-repeat:no-repeat;
}
table.menu{
	width:100%;
	text-align:top;
	margin-top:50px;
	margin-left:0;
}
table.menu td{
	border-left:1px solid #8bc5d9;
	padding:20px 0 38px 38px;
	vertical-align:top;
}
.aliquam{
	font:1.3em Trebuchet MS;
	color:#fff;
}
#fusce{
	font:1.0em Trebuchet MS;
	color:#8bc5d9;
	display:block;
	margin-top:10px;
}
#form{
	width:177px;
	height:28px;
	border:0;
	background-color:#023e74;
	padding-left:10px;
	opacity:0.6;
	margin-right:12px;
	margin-top:10px;
}
#img1{
	position:absolute;
	top:103px;
}

/*_____main_table_________________________*/

#center{
	width:1000px;
	height:832px;
 	margin-top:194px;
	position:relative;
}

 #maintab {
	width:100%;
	height:832px;
	border-spacing:0;
	table-layout:fixed;
	border-collapse:collapse; 
	font:1em Trebuchet MS;
	color:#000;
}
#maintab td{
	padding:30px;
	vertical-align:top;
	height:1px; /* Устанавливает haslayout чтобы держалась высота ячеек в ie7 Высота ячеек выставлена в html через tr */
}
td.gradient{
	background: #dde7f8; /* Для старых браузров */
	background: -moz-linear-gradient(bottom right -225deg, #dde7f8, #fff); /* Firefox 3.6+ Chrome 1-9, Safari 4-5 */
	background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#dde7f8), color-stop(100%,#fff)); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #dde7f8, #fff);
    background: -o-linear-gradient(top, #dde7f8, #fff); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dde7f8, #fff); /* IE10 */
    background: linear-gradient(top, #dde7f8, #fff); /* CSS3 */ 
}
#fontab_2{
	background:url(../images/band2.jpg);
	background-repeat:no-repeat;
	background-color:#fff;
}
.title_1{
	position:relative; 
	width:270px;
	height:31px;
	padding:15px 0 0 30px;
	top:-30px;
	left:-30px;
	font:1em Trebuchet MS;
	color:#fff;
	text-align:left;
 	background:url(../images/band1.jpg);
	background-repeat:no-repeat; 
}
.fotoleft{
 	background:url(../images/foto_1.jpg);
	background-repeat:no-repeat; 
	width:240px;
	height:92px;
	margin:0;
}
.fotoleft.two{
 	background:url(../images/foto_2.jpg);
	background-repeat:no-repeat;	
}
.texleft{
	font:0.8em Trebuchet MS;
	color:#37585d;
	text-align:left;
	line-height:2em;
	margin-top:19px;
}
a:link {color:#cc0000;}
a:visited {color:#6600cc;}

/*____________________________________Right___________________________________*/

ul.menu2 {margin:-10px 0 0 -23px; 
		padding:0; 
		min-width:640px;
}
.menu2 li {
	float:left;
	width:102px;
	text-align:center;
	list-style:none;
	height:39px;
	border-right:2px #3399cc solid; 
	border-right-style:groove;
}
li a:link {
	display:block;
	margin-top:10px;
	font:1.3em Trebuchet MS;
	color:#fff;
	text-decoration:none; 
	white-space:nowrap;
}
#none{
	border-right:0;
}
#zet1{
	width:98px;
}
#zet2{
	width:105px;
}
#left291{
	position:relative;
	width:291px;
	height:642px;
	padding:5px 30px 30px;
	margin-left:-30px;
	margin-top:85px;
	border-right:1px #d6e4e8 solid;
	/* background:#bbb; */
	zoom:normal;
}
#Veroeros{
	font:2.3em Trebuchet MS;
	color:#135b65;
}
.red{
	color:#cc0000;
}
#tel{
	position:relative;
	width:104px;
	height:94px;
	margin:24px 0 0;
	padding:0;
 	background:url(../images/foto3.jpg);
	background-repeat:no-repeat;		
}
.teltex1{
	position:relative;
	margin:-95px 0 0 130px !important;
	padding:0;
	height:93px;
	font:0.8em Trebuchet MS;
	color:#37585d;
	text-align:left;
	line-height:2em;
	zoom:1;
}
#left291>.texleft span{
	text-decoration:underline;
}
.title1{
	font:1.6em Trebuchet MS;
	color:#165772;
	text-align:left;
	margin-top:50px !important;
}
.title1 span{
	color:#cc0000;
}
#dolore{ 
	/*border-spacing: 0 1px; */
	margin:30px 0 0;
	padding:0;
}
#dolore tr{
	height:41px;
	padding:0;
}
#dolore td{
	padding:0;
	height:1px;
	vertical-align:middle;
}
.tr1{
	background:#d4e3e8;
}
.tr2{
	background:#e7eff2;
}
.empty{
	height:2px !important;
	padding:0;
}
.cel1{
	color:#8ca8ac;
	font:0.9em Trebuchet MS;
	text-align:center;
}
.cel2{
	color:#589693;
	font:0.9em Trebuchet MS;
	text-align:left;
	text-decoration:underline;
}
#dolore+div{
	margin-top:30px;
}

/*____________________________________Right2___________________________________*/

#right291{
	position:absolute;
	top:105px;
	margin-left:321px;
	width:291px;
	height:642px;
	padding:5px 30px 30px;
	border-right:1px #d6e4e8 solid;
	/* background:#ccc; */
	zoom:normal;
}
#title2{
	font:1.6em Trebuchet MS;
	color:#165772;
	text-align:left;
	margin-top:10px;
}
#title2 span{
	color:#cc0000;
}
#foto4{
	position:relative;
	width:104px;
	height:94px;
	margin:24px 0 0 !important;
	padding:0;
 	background:url(../images/foto4.jpg);
	background-repeat:no-repeat;
}
#foto5{
	position:relative;
	width:104px;
	height:94px;
	margin:24px 0 0 !important;
	padding:0;
 	background:url(../images/foto5.jpg);
	background-repeat:no-repeat;
}
#foto6{
	position:relative;
	width:104px;
	height:94px;
	margin:24px 0 0 !important;
	padding:0;
 	background:url(../images/foto6.jpg);
	background-repeat:no-repeat;
}
















